.main_container{
    max-width: 1590px;
    margin: 0 auto;
    height: 290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main_container h1{
    font-family: Ubuntu Light,sans-serif;
    padding: 10px 0 0 45px;
    font-weight: 300;
    font-size: 42px;
    margin-bottom: 75px;
    color: #fff;
    align-self: baseline;
    width: 100%;
    margin-top: auto;
}

.main_container ul li{
    position: relative;
    margin: 15px 0 15px -20px;
    font-size: 12px;
    font-weight: 400;
    color: #a1a1a1;
    text-transform: uppercase;
}

.main_container ul li a{
    padding-right: 20px;
    color: #fff;
    font-size: 12px;
    line-height: 1.2;
}

.main_container ul li a:hover{
    color: #fff;
}

.gray_background{
    padding: 50px 0 80px;
    background: #f2f2f2;
    margin: 0 auto;
}

.two_column_list_with_center_image{
    display: flex;
    margin-top: 20px;
    flex-flow: row;
    position: relative;
    align-items: flex-start;
}

.third_column{
    width: 33.3333%;
    float: left;
}

.list_features{
    padding: 0 0 0 30px;
    width: 100%;
    display: inline-block;
}

.list_features li{
    font-family: Ubuntu Light, sans-serif;
    flex-wrap: wrap;
    padding: 25px 0;
    border-bottom: 1px solid #c7c7c7;
    display: flex;
    align-items: center;
    flex-flow: row;
    position: relative;
}

.list_features li::after{
    content: " ";
    height: 5px;
    width: 30px;
    background: red;
    position: absolute;
    bottom: 0;
    left: 0;
}

.list_features li img{
    display: inline-block;
    margin-right: 40px;
    height: 50px;
    width: auto;
}

.list_features li span{
    display: inline-block;
    font-size: 19px;
}

.image_wrapper{
    position: relative;
    width: 100%;
    min-height: 500px;
}

.image_wrapper img{
    height: 500px;
    width: auto;
    min-width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    align-self: center;
    object-fit: cover;
    transform: translate(-50%,-50%);
}







@media screen and (max-width: 1280px) {
    .main_container{
        height: 200px;
        padding: 0;
    }
    .main_container ul li {
        padding-left: 20px;
        position: relative;
        margin: 15px 0;
        font-family: Ubuntu,sans-serif;
        font-weight: 300;
        color: #a1a1a1;
        font-size: 12px;
        margin-left: -20px;
    }
}
