.main_container {
    max-width: 1590px;
    margin: 0 auto;
    height: 290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main_container h1 {
    font-family: Ubuntu Light, sans-serif;
    padding: 10px 0 0 45px;
    font-weight: 300;
    font-size: 42px;
    margin-bottom: 75px;
    color: #fff;
    align-self: baseline;
    width: 100%;
    margin-top: auto;
}

.main_container ul li {
    position: relative;
    margin: 15px 0 15px -20px;
    font-size: 12px;
    font-weight: 400;
    color: #a1a1a1;
    text-transform: uppercase;
}

.main_container ul li a {
    padding-right: 20px;
    color: #fff;
    font-size: 12px;
    line-height: 1.2;
}

.main_container ul li a:hover {
    color: #fff;
}

.section{
    padding: 50px 0 80px;
    overflow: hidden;
    position: relative;
}

.section2{
    padding: 50px 0 80px;
    overflow: hidden;
    position: relative;
    background: #f2f2f2;
}

.section_blue{
    padding: 50px 0 80px;
    overflow: hidden;
    position: relative;
    background: #364267;
}

.one_column_list_with_tabs{
    margin-top: 40px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 30px;

    height: 800px;
}

.tabs_list_wrapper{
    width: 33.3333%;
    float: left;
    display: flex;
    height: 80px;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #e2e2e2;
    background: #fff;
    box-shadow: inset -12px 0 7px -5px rgba(0,0,0,.7);
}

.ui_active{
    border: 0 none;
    background: #fff;
    outline: none;
    box-shadow: -6px 5px 15px -5px rgba(0,0,0,.35);
}

.tabs_number{
    display: none;
    padding: 28px 0;
    align-items: center;
    justify-content: center;
    width: 80px;
    align-self: center;
    background: #ed1c24;
    color: #fff;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
}

.flex_active{
    display: flex;
}

.tabs_description{
    font-family: Ubuntu Light, sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-left: 60px;
    color: #525252;
    text-transform: uppercase;
}

.active_desc{
    color: #ed1c24;
    margin-left: 30px;
}

.tabs_content_wrapper{
    position: absolute;
    right: 30px;
    top: 0;
    width: calc(66.6666% - 30px);
    background: #fff;
    overflow: auto;

    height: 800px;
}

.tabs_content_wrapper h3{
    font-family: Ubuntu Light,sans-serif;
    font-weight: 300;
    width: auto;
    font-size: 42px;
    display: inline-block;
    margin: 0;
    color: #3d3d3d;
}

.half_column{
    width: 50%;
    float: left;
    margin-top: 80px;
}

.half_column p{
    color: #525252;
    margin: 20px 0;
    font-family: Ubuntu Light,sans-serif;
    font-weight: 400;
    padding-right: 30px;
    font-size: 15px;
}

.tabs_content_wrapper .image_wrapper{
    position: relative;
    width: calc(100% - 60px);
    height: 640px;
    margin: 0 auto 80px;
    overflow: hidden;
}

.tabs_content_wrapper .image_wrapper img{
    display: block;
    height: auto!important;
    width: 100%!important;
    position: relative!important;
    transform: translate(0%, 0%)!important;
}

.half_column ul{
    margin-top: 20px;
    padding: 0 30px 0 0;
}

.half_column ul li{
    color: #3d3d3d;
    font-family: Ubuntu Light,sans-serif;
    font-size: 15px;
    position: relative;
    font-weight: 300;
    margin: 20px 0;
    padding-left: 20px;
    padding-right: 30px;
}

.half_column ul li img{
    position: absolute;
    left: -20px;
    top: 2px;
    height: 14px;
    margin-left: 20px;
    display: block;
    width: 7px;
}

.div_center{
    display: flex;
    justify-content: center;
    margin: 50px auto!important;
}

.half_div{
    display: flex;
}

.image_block{
    width: 33%;
    align-self: center;
    margin-top: 60px;
}

.image_block img{
    height: 350px;
    margin: 0 auto;
}

.div_blocks{
    width: 66%;
    display: flex;
    flex-flow: wrap;
    align-self: center;
    margin-top: 50px;
}

.item{
    width: 33%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: flex-start;
    padding: 20px 10px;
}

.item img{
    height: 80px;
    width: auto;
    align-self: flex-start;
}

.item h3{
    font-size: 24px;
    color: #3d3d3d;
    font-weight: 400;
}

.item p{
    font-size: 14px;
    color: #999;
    line-height: 145%;
    margin: 10px 0;
}

.section_back{
    position: relative;
}

.section_back img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.half_div_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 700px;
    margin-left: 100px;
    padding: 0 80px;
    width: 50%;
}

.shadow{
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 30px;
    top: -30px;
}

.add_class p{
    color: #fff;
    font-size: 18px;
    line-height: 145%;
    margin: 10px 0;
}

.image_wrapper2{
    position: relative;
    width: 100%;
    display: grid;
    margin: 100px 0 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    grid-column-gap: 15px;
    padding: 0 30px;
}

.photo{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 350px;
    margin-bottom: 15px;
}

.photo a img{
    position: absolute;
    left: 50%;
    top: 50%;
    align-self: center;
    object-fit: cover;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}




@media screen and (max-width: 1280px) {
    .main_container {
        height: 200px;
        padding: 0;
    }
    .main_container ul li {
        padding-left: 20px;
        position: relative;
        margin: 15px 0;
        font-family: Ubuntu, sans-serif;
        font-weight: 300;
        color: #a1a1a1;
        font-size: 12px;
        margin-left: -20px;
    }
    .section, .section2{
        padding: 20px 10px 25px;
    }
    .one_column_list_with_tabs{
        padding: 0 20px;
    }
    .tabs_list_wrapper{
        height: 60px;
    }
    .tabs_number{
        padding: 20px 0;
        width: 60px;
        font-size: 24px;
    }
    .tabs_description{
        font-weight: 400;
        font-size: 13px;
    }
    .active_desc{
        margin-left: 20px;
    }
    .tabs_content_wrapper{
        width: calc(66.6666% - 20px);
        right: 20px;
    }
    .half_column{
        margin-top: 60px;
    }
    .tabs_content_wrapper .image_wrapper{
        height: 480px;
        margin: 0 auto 60px;
    }
    .tabs_content_wrapper h3{
        font-size: 32px;
    }
    .half_column ul li{
        margin: 4px 0;
        font-size: 13px;
        line-height: 145%;
    }
    .half_div{
        flex-flow: column;
    }
    .image_block, .div_blocks{
        width: 100%;
        display: flex;
    }
    .section_back img{
        height: 500px;
    }
    .half_div_text{
        height: 500px;
    }
    .add_class p {
        font-size: 13px;
    }
}

@media screen and (max-width: 990px){
    .one_column_list_with_tabs{
        height: auto;
        padding: 0 15px;
    }
    .tabs_list_wrapper{
        height: auto;
        width: 100%;
        box-shadow: none;
    }
    .ui_active{
        background: #fff !important;
        border: 0 none;
        z-index: 1;
        box-shadow: -6px 5px 15px -5px rgba(0,0,0,.35);
    }
    .flex_active{
        color: #fff!important;
        background: #e2001a!important;

    }
    .tabs_number{
        height: 50px !important;
        display: flex;
        background: #eee;
        color: #ccc;
    }
    .tabs_description{
        padding: 0 20px;
        margin-left: 0;
    }
    .tabs_content_wrapper{
        margin-bottom: 5px;
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
        padding: 0;
        height: 100%;
    }
    .tabs_content_wrapper ul{
        padding: 0;
    }
    .half_column{
        margin-top: 20px;
        width: 100%;
    }
    .tabs_content_wrapper .image_wrapper{
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    .tabs_content_wrapper .image_wrapper img{
        position: relative;
        height: 300px!important;
        width: auto!important;
        transform: translate(0);
    }
    .tabs_content_wrapper h3{
        font-size: 28px;
    }
    .section_back img{
        height: 300px;
    }
    .half_div_text{
        height: 300px;
        margin-left: 0;
        padding: 0 80px;
        width: 100%;
    }
    .image_wrapper2{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 770px){
    .one_column_list_with_tabs{
        padding: 0 5px;
    }
    .tabs_content_wrapper{
        padding: 0 5px;
    }
    .half_column img{
        display: none!important;
    }
    .section, .section2{
        padding: 10px 10px 15px;
    }
    .item{
        width: 100%;
    }
    .half_div_text{
        padding: 0 20px;
    }
    .shadow{
        top: -15px;
    }
    .add_class{
        margin: 0 auto;
        width: 90%;
    }
}