/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./app/buttons/redButtonWithoutLink/style.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.style_formBtn___Jjn4{
    margin-left: 40px;
    background-color: #ed1c24;
    color: #fff;
    /*transition: all .1s ease-in-out;*/
    font-family: Poppins,sans-serif;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1;
    padding: 22px 50px 20px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
}

.style_formBtn___Jjn4 img{
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    background-color: #ed1c24;
    border-left-color: #f14950;
    top: 0;
    right: 1px;
    width: 50px;
    height: 100%;
    padding: 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left-width: 1px;
    border-left-style: solid;
    transform: translateX(100%);
}

.style_formBtn___Jjn4:hover img{
    background-color: #3d3d3d;
    border-left-color: #535353;
}

.style_formBtn___Jjn4:hover{
    background-color: #3d3d3d;
}


@media screen and (max-width: 1280px){
    .style_formBtn___Jjn4{
        font-size: 10px;
        padding: 18px 25px 16px;
    }
    .style_formBtn___Jjn4 img{
        margin-top: 0;
        padding: 15px;
    }
}

@media screen and (max-width: 990px){
    .style_formBtn___Jjn4{
        width: calc(100% - 49px);
        text-align: center;
        margin: 0;
        padding: 15px 30px 13px;
    }
    .style_formBtn___Jjn4 img{
        margin-top: 0;
        padding: 12px;
    }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./app/[locale]/contact/contact.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/



.contact_head_image__JcPsx{
    position: relative;

}

.contact_head_image__JcPsx::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-color: #000;
    opacity: .2;
    z-index: -1;
    content: "";
}

.contact_head_image__JcPsx img{
    width: 100%;
    aspect-ratio: auto 1900 / 300;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.contact_main_container__cW_SW{
    max-width: 1590px;
    margin: 0 auto;
    height: 290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact_main_container__cW_SW h1{
    font-family: Ubuntu Light,sans-serif;
    padding: 10px 0 0 45px;
    font-weight: 300;
    font-size: 42px;
    margin-bottom: 75px;
    color: #fff;
    align-self: baseline;
    width: 100%;
    margin-top: auto;
}

.contact_main_container__cW_SW ul li{
    position: relative;
    margin: 15px 0 15px -20px;
    font-size: 12px;
    font-weight: 400;
    color: #a1a1a1;
}

.contact_main_container__cW_SW ul li a{
    padding-right: 20px;
    color: #fff;
    font-size: 12px;
    line-height: 1.2;
}

.contact_main_container__cW_SW ul li a:hover{
    color: #fff;
}

.contact_section2__gN9BP{
    padding: 40px 0;
}

.contact_contact_box__XHF7W{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    padding: 0 30px;
}

.contact_contact_box__XHF7W ul{
    padding: 5px 20px;
    width: 16.66667%;
}

.contact_contact_box__XHF7W ul li{
    font-size: 15px;
    color: #333;
}

.contact_contact_box__XHF7W ul li h2{
    font-weight: 400;
    font-size: 22px;
    margin: 20px 0;
    line-height: 1.2;
    color: #3d3d3d;
}

.contact_contact_box__XHF7W ul li h2 small{
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 120%;
}

.contact_contact_box__XHF7W ul li a{
    font-size: inherit;
}

.contact_contact_box__XHF7W ul li a:hover {
    color: #e2001a;
    text-decoration: underline;
}

.contact_red_text_btn__xf47r{
    color: #ed1c24;
    padding: 22px 50px 20px 25px;
    text-align: center;
    font-weight: 300;
    border: 1px solid transparent;
    transition: all .2s ease-in-out;
    font-size: 11px!important;
}

.contact_red_text_btn__xf47r::after{
    display: inline-block!important;
    position: relative;
    width: 15px;
    margin-left: 5px;
    border: none;
    transform: translateX(0);
    height: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    top: 0;
    right: 1px;
    text-align: center;
    font-weight: 900;
    content: "➤";
    transition: all .2s ease-in-out!important;
}

.contact_red_text_btn__xf47r:hover{
    color: #333!important;;
    text-decoration: none!important;

}

.contact_red_text_btn__xf47r:hover::after {
    transform: translateX(5px);
}

.contact_navy_background__mxqop{
    padding: 50px 0 80px;
    background-color: #364267;
}

.contact_navy_background__mxqop div h2{
   color: white;
}

.contact_text_block_center__dkyGY{
    color: #fff;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 0 15px;
}

.contact_text_block_center__dkyGY ul{
    padding: 0;
    margin-top: 20px;
}

.contact_text_block_center__dkyGY ul li{
    color: #fff!important;
    font-size: 18px;
    font-weight: 400;
}

.contact_text_block_center__dkyGY ul li a span{
    color: #ed1c24;
}

.contact_text_block_center__dkyGY ul li a span:hover{
    text-decoration: underline;
    color: #ed1c24;
}

.contact_text_block_center__dkyGY p{
    color: #fff!important;
    font-size: 14px;
    margin-top: 30px;
}

.contact_image_full_section__DAsHa{
    height: 500px;
    position: relative;
    width: 50%;
    float: left;
}

.contact_image_full_section__DAsHa img{
    width: 100%;
    object-fit: contain;
    align-self: baseline;
    transform: translate(-65%,-42%) scale(1.2);
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    z-index: -1;
}

.contact_text_block__zQSHd{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}

.contact_contact_data_box__KQwgO{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.contact_phone_wrapper__OxE5I{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-left: auto;
    width: auto;
}

.contact_phone_wrapper__OxE5I img{
    height: 50px;
    width: auto;
    display: block;
    margin-right: 30px;
}

.contact_phone_wrapper__OxE5I a{
    font-weight: 300;
    font-size: 36px;
    color: #333;
}

.contact_gray_background__7kjYT{
    padding: 60px 0 80px;
    background: #f2f2f2;
    display: none;
}

.contact_gray_background__7kjYT div{
    background: white!important;
    max-width: 100%;
}

.contact_configurator_body__pRNaK{
    background: #fff;
    width: 100%;
    padding: 60px 0;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact_configurator_description__bWHos{
    font-family: Ubuntu Light,sans-serif;
    font-weight: 300;
    font-size: 19px;
    background: #7e8895;
    display: block;
    float: left;
    line-height: 1;
    text-transform: uppercase;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    flex: 0 1 70%;
    margin: 0 auto 20px;
}

.contact_form__zVExg{
    width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}

.contact_box_place__En4ZX{
    display: inline-flex;
    width: 100%;
}

.contact_textarea_place__z5RCn{
    width: 50%;
}

.contact_textarea_place__z5RCn ul{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 30px;
    width: 100%;
}

.contact_textarea_place__z5RCn ul li{
    margin-right: 30px;
    margin-bottom: 15px;
}

.contact_textarea_place__z5RCn ul li span:first-of-type{
    display: inline-flex;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
    background: #7e8895;
    color: #fff;
    font-family: Ubuntu Light,sans-serif;
    font-weight: 700;
    margin-right: 10px;
}

.contact_textarea_place__z5RCn ul li span:nth-of-type(2){
    font-family: Ubuntu Light,sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.contact_textarea_place__z5RCn ul li textarea{
    margin-top: 10px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    font-family: Ubuntu Light,sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #999;
    line-height: inherit;
    height: 281.313px;
    overflow: auto;
    outline: none;
}

.contact_textarea_place__z5RCn ul li span:nth-of-type(3) {
    font-size: 14px;
    color: #ed1c24;
}

.contact_textarea_place__z5RCn ul li input {
    margin-top: 10px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    font-family: Ubuntu Light,sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #999;
    outline: none;
}

.contact_required_acceptance__3cW3_{
    width: 100%;
    text-align: left;
    padding: 0 30px;
}

.contact_input_wrapper__fH1ON{
    margin-bottom: 20px;
    position: relative;
}

.contact_container__pX6Gq{
    text-align: left;
    margin: 0;
    padding-left: 60px;
    font-family: Ubuntu Light, sans-serif;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    width: 100%;
    cursor: pointer;
}

.contact_container__pX6Gq p{
    font-size: 18px;
}

.contact_container__pX6Gq p a{
    font-size: inherit;
    line-height: inherit;
    color: #e2001a;
    margin-left: 0.35em;
    margin-right: 0.35em;
}

.contact_checkmark__35BpR{
    display: flex;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: #fff;
    top: 5px;
    border: 1px solid #ccc;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.contact_checkmark2__v7AZa{
    top: 5px;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: #fff;
}

.contact_checkmark3__OQUCU{
    left: 20px;
    top: 13px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) scale(1.8);
    content: " ";
    position: absolute;
    display: block;
}

.contact_configurator_navigation__bQFqA{
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    float: left;
    height: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.contact_reguired_fields__wH2_9{
    position: absolute;
    bottom: 0;
    left: 30px;
}

.contact_reguired_fields__wH2_9 span:first-of-type{
    color: #ed1c24;
}

.contact_reguired_fields__wH2_9 span:last-of-type{
    text-transform: uppercase;
    font-size: 14px;
    font-family: Ubuntu Light,sans-serif;
    font-weight: 400;
}

.contact_formBtn__4kvw5{
    margin-left: 40px;
    background-color: #ed1c24;
    color: #fff;
    /*transition: all .1s ease-in-out;*/
    font-family: Poppins,sans-serif;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1;
    padding: 22px 50px 20px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
}

.contact_formBtn__4kvw5 img{
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    background-color: #ed1c24;
    border-left-color: #f14950;
    top: 0;
    right: 1px;
    width: 50px;
    height: 100%;
    padding: 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left-width: 1px;
    border-left-style: solid;
    transform: translateX(100%);
}

.contact_formBtn__4kvw5:hover img{
    background-color: #3d3d3d;
    border-left-color: #535353;
}

.contact_formBtn__4kvw5:hover{
    background-color: #3d3d3d;
}

.contact_showForm__ZBC32{
    display: block;
}

.contact_divButton__BQ4Bk{
    margin-left: -50px;
    width: -moz-fit-content;
    width: fit-content;
}

.contact_thanks_message___WW4X{
    width: 100%;
    text-align: center;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.contact_thanks_message_service_form__2zMA1{
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.contact_message__VjHPq{
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
}

.contact_message__VjHPq h2{
    padding: 10px 0 0;
    font-family: Ubuntu Light, sans-serif;
    color: #36be5c;
    font-size: 42px;
    margin: 0 0 20px;
    font-weight: 300;
}

.contact_message__VjHPq h2 small{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 10px;
    color: #3d3d3d;
    text-align: center;
    display: block;
    width: 100%;
}

.contact_message__VjHPq h2 strong{
    font-weight: 300;
    font-size: 42px;
    margin-bottom: 60px;
    color: #52cf49;
    text-align: center;
    display: block;
    width: 100%;
}

.contact_message__VjHPq p{
    color: #a1a1a1;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
}



@media screen and (max-width: 1440px){
    .contact_contact_box__XHF7W ul {
        width: 33.3333%;
        text-align: center;
    }
    .contact_contact_box__XHF7W .contact_red_text_btn__xf47r {
        left: 0;
        transform: translateX(0);
        padding: 22px 25px 20px 35px!important;
    }
    .contact_image_full_section__DAsHa, .contact_text_block__zQSHd{
        height: 350px;
    }
    .contact_divButton__BQ4Bk{
        margin-left: -100px;
    }
}

@media screen and (max-width: 1280px){
    .contact_contact_box__XHF7W {
        margin-top: 20px;
    }
    .contact_contact_box__XHF7W ul li {
        font-size: 13px;
        color: #333;
    }
    .contact_contact_box__XHF7W ul li h2 {
        font-weight: 400;
        font-size: 18px;
        margin: 20px 0;
    }
    .contact_btn__DgZP9 {
        font-size: 10px;
        padding: 18px 40px 16px;
    }
    .contact_main_container__cW_SW{
        height: 200px;
        padding: 0;
    }
    .contact_head_image__JcPsx h1 {
        font-size: 32px;
        margin-bottom: 75px;
        padding: 0 0 0 30px;
    }
    .contact_main_container__cW_SW>ul li {
        padding-left: 20px;
        position: relative;
        margin: 15px 0;
        font-family: Ubuntu,sans-serif;
        font-weight: 300;
        color: #a1a1a1;
        font-size: 12px;
        margin-left: -20px;
    }
    .contact_navy_background__mxqop{
        padding: 20px 10px 25px;
    }
    .contact_text_block_center__dkyGY p {
        font-size: 12px;
    }
    .contact_text_block_center__dkyGY ul li {
        font-size: 16px;
    }
    .contact_contact_data_box__KQwgO {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .contact_phone_wrapper__OxE5I{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto 10px;
        width: auto;
    }
    .contact_phone_wrapper__OxE5I img{
        height: auto;
        width: auto;
        display: block;
        margin-right: 10px;
    }
    .contact_phone_wrapper__OxE5I a{
        font-weight: 300;
        font-size: 24px;
        color: #333;
    }
    .contact_divButton__BQ4Bk{
        margin-left: 0;
        width: 100%;
        display: flex;
        justify-content: center
    }
    .contact_gray_background__7kjYT{
        padding: 60px 0 25px;
        margin: 0;
    }
    .contact_configurator_body__pRNaK h2{
        flex: 0 1 80%;
        font-size: 16px;
    }
    .contact_textarea_place__z5RCn ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .contact_textarea_place__z5RCn ul li span:first-of-type{
        font-size: 11px;
    }
    .contact_textarea_place__z5RCn ul li span:nth-of-type(2){
        font-size: 12px;
    }
    .contact_textarea_place__z5RCn ul li span:nth-of-type(3){
        font-size: 12px;
    }
    .contact_textarea_place__z5RCn ul li input {
        font-size: 11px;
    }
    .contact_textarea_place__z5RCn ul li textarea{
        font-size: 11px;
    }
    .contact_container__pX6Gq{
        font-size: 12px;
    }
    .contact_container__pX6Gq p{
        font-size: 14px;
    }
    .contact_configurator_navigation__bQFqA{
        margin-top: 30px;
    }
    .contact_formBtn__4kvw5{
        font-size: 10px;
        padding: 18px 40px 16px;
    }
    .contact_formBtn__4kvw5 img{
        padding: 15px;
    }
    .contact_message__VjHPq h2{
        font-size: 32px;
        margin: 0 0 20px;
        font-weight: 300;
    }
    .contact_message__VjHPq h2 small{
        letter-spacing: 1px;
        font-size: 11px;
    }
    .contact_message__VjHPq h2 strong{
        font-size: 32px;
        margin-bottom: 30px;
    }
    .contact_message__VjHPq p{
        font-size: 14px;
    }
    .contact_thanks_message___WW4X{
        width: 100%;
        text-align: center;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
}

@media screen and (max-width: 990px){
    .contact_image_full_section__DAsHa{
        display: none;
    }
    .contact_text_block__zQSHd {
        padding: 20px 10px;
    }
    .contact_configurator_body__pRNaK{
        padding: 10px 0 30px;
        flex-direction: column;
    }
    .contact_configurator_body__pRNaK h2{
        font-size: 15px;
        width: calc(100% - 30px);
        flex: 0 1 100%;
    }
    .contact_textarea_place__z5RCn ul {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 0 10px;
    }
    .contact_textarea_place__z5RCn ul li{
        margin-right: 0;
    }
    .contact_textarea_place__z5RCn ul li span:nth-of-type(2){
        font-size: 11px;
    }
    .contact_textarea_place__z5RCn ul li span:nth-of-type(3){
        font-size: 11px;
    }
    .contact_checkmark__35BpR, .contact_checkmark2__v7AZa{
        top: 0;
    }
}

@media screen and (max-width: 770px){
    .contact_contact_box__XHF7W {
        margin-top: 0;
        padding: 0;
    }
    .contact_contact_box__XHF7W ul {
        width: 50%;
        text-align: center;
    }
    .contact_contact_box__XHF7W ul li {
        font-size: 11px;
    }
    .contact_contact_box__XHF7W ul li h2 {
        font-size: 14px;
        margin: 10px 0;
    }
    .contact_contact_box__XHF7W ul li h2 small{
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 120%;
    }
    .contact_contact_box__XHF7W .contact_red_text_btn__xf47r {
        padding: 22px 0 20px!important;
        font-size: 9px!important;
    }
    .contact_head_image__JcPsx h1 {
        font-size: 28px;
        margin-bottom: 20px;
        padding: 0 0 0 10px;
    }
    .contact_navy_background__mxqop{
        padding: 10px 10px 15px;
    }
    .contact_gray_background__7kjYT{
        padding: 60px 0 15px;
    }
    .contact_configurator_body__pRNaK h2{
        padding: 20px;
        font-size: 14px;
        line-height: 1.3;
    }
    .contact_box_place__En4ZX {
        display: block;
        margin: 10px 0;
    }
    .contact_textarea_place__z5RCn {
        width: 100%;
    }
    .contact_textarea_place__z5RCn ul {
        margin-top: 0;
        margin-bottom: 0;
    }
    .contact_required_acceptance__3cW3_{
        padding: 0 15px;
    }
    .contact_configurator_navigation__bQFqA{
        width: 100%;
        height: 130px;
        text-align: center;
        margin-bottom: 0;
        position: relative;
        padding: 0 15px;
    }
    .contact_formBtn__4kvw5{
        font-size: 9px;
        padding: 15px 30px 13px;
        background-color: #e2001a;
        position: absolute;
        right: 0;
        bottom: 20px;
        margin-right: 40px;
        transform: translate(-25px,50%);
        border-radius: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .contact_formBtn__4kvw5 img{
        background-color: #e2001a;
        border-left-color: #f14950;
        top: -0.8px;
        right: -1px;
        width: 50px;
        height: 101%;
        padding: 12px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-left-width: 1px;
        border-left-style: solid;
        transform: translate(49px,1%);
    }
    .contact_reguired_fields__wH2_9 {
        padding: 0 15px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .contact_message__VjHPq h2{
        padding: 10px 0 0;
    }
    .contact_message__VjHPq p{
        font-size: 14px;
    }
    .contact_thanks_message_service_form__2zMA1{
        height: auto;
    }
    .contact_thanks_message___WW4X{
        width: 100%;
        text-align: center;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
}
