.main_container {
    max-width: 1590px;
    margin: 0 auto;
    height: 290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main_container h1 {
    font-family: Ubuntu Light, sans-serif;
    padding: 10px 0 0 45px;
    font-weight: 300;
    font-size: 42px;
    margin-bottom: 75px;
    color: #fff;
    align-self: baseline;
    width: 100%;
    margin-top: auto;
}

.main_container ul li {
    position: relative;
    margin: 15px 0 15px -20px;
    font-size: 12px;
    font-weight: 400;
    color: #a1a1a1;
    text-transform: uppercase;
}

.main_container ul li a {
    padding-right: 20px;
    color: #fff;
    font-size: 12px;
    line-height: 1.2;
}

.main_container ul li a:hover {
    color: #fff;
}

.section{
    padding: 50px 0 80px;
}

.text_block{
    padding: 20px 30px;
}

.text_block p{
    font-size: 18px;
    font-family: Ubuntu Light, sans-serif;
    font-weight: 300;
}

.text_block p:nth-child(3){
    text-align: center;
}

.text_block p img{
    margin-top: 10px;
    text-align: center;
    max-width: 100%;
    width: auto;
}

.gray_background{
    padding: 50px 0 80px;
    background: #f2f2f2;
}

.features{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;
    margin: 20px 0 0;
    flex-wrap: wrap;
}

.features li{
    position: relative;
    margin: 15px 0 15px -20px;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    color: #a1a1a1;
    font-size: 16px;
    text-align: center;
    flex: 0 0 33.3333%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.features li p{
    color: #525252;
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0;
}

.circle_icon{
    display: block;
    position: relative;
    width: 116px;
    height: 116px;
    border-radius: 50%;
    background-color: #fff;
}

.circle_icon img{
    width: 64px;
    display: block;
    position: absolute;
    max-width: 60%;
    max-height: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.table{
    width: 92%;
    height: 780px;
    border: none;
    padding: 5px 10px;
    margin: 20px 0;
    border-collapse: collapse;
}

.table thead{
    background: #e2e2e2;
}

.table thead tr{
    margin: 10px 0;
    background: #e2e2e2;
}

.table thead tr:first-child{
    height: 253px;
    background: #fafafa;
    border-top: none !important;
}

.table thead tr:first-child tr{
    height: 253px;background-color: white;
}

.table thead tr:first-child tr img{
    height: 253px;
}

.table thead tr:nth-child(2){
    height: 93px;
    background: #e2e2e2;
}

.table tr:nth-child(even){
    background: #fafafa;
    border-top: none;
}

.table tr td:first-child{
    text-align: left;
}

.table thead tr:first-child td:nth-child(4){
    border-top: 2px solid #e2001a !important;
}

.table td:nth-child(4){
    border-left: 2px solid #e2001a;
    border-right: 2px solid #e2001a;
}

.table td{
    width: 25%;
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #ddd !important;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: #3d3d3d;
    text-align: center;
    font-family: Ubuntu Light, sans-serif;
}

.table td h3{
    font-size: 28px;
    line-height: 110%;
    margin: 10px 0 20px;
}

.table td h3 small{
    font-size: 18px;
    color: #a1a1a1;
    letter-spacing: 0;
}

.table tbody tr{
    height: 24px;
}

.table tbody tr:last-child{
    height: 48px;
}

.table tbody tr:last-child td:nth-child(4){
    border-bottom: 2px solid #e2001a;
}

.navy_background{
    padding: 50px 0 80px;
    background: #364267;
}

.gallery_reel_wrapper{
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    /*display: grid;*/
    display: flex;
    margin: 30px 0;
    grid-template-rows: min-content;
    grid-column-gap: 15px;
    padding: 0 30px;
}

.gallery_reel_item{
    /*grid-column-start: 1;*/
    /*grid-column-end: span 1;*/
    height: 250px;
    position: relative;
    width: 24%;
    overflow: hidden;
    margin-bottom: 15px;
}

.section_margin_bottom_small{
    margin-bottom: 50px;
    padding: 50px 0 80px;
    background: #f2f2f2;
}

.two_column{
    display: flex;
    flex-flow: row;
    padding: 0 30px;
}

.image_wrapper{
    height: 500px;
    position: relative;
    width: auto;
}

.image_wrapper img{
    min-width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    align-self: center;
    object-fit: cover;
    transform: translate(-50%, -50%);
    height: 100%;
}

.third_column{
    width: 33.3333%;
    float: left;
}

.third_column ul{
    padding: 0 30px 0 0;
}

.third_column ul li{
    height: auto;
    padding: 30px 0;
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid #ccc;
    align-items: flex-end;
    flex-wrap: wrap;
}

.third_column ul li span{
    font-size: 18px;
    font-weight: 400;
    color: #333;
}

.third_column ul li p{
    display: block;
    width: 100%;
    margin: 8px 0;
    padding-left: 0;
    color: #525252;
    font-size: 15px;
}

.dispenser_list_reverse{
    padding-left: 30px;
    padding-right: 0;
}

.third_column:nth-of-type(3) * {
    text-align: right;
    display: block;
}

.one_column_list_with_tabs{
    margin-top: 40px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 30px;

    height: 800px;
}

.tabs_list_wrapper{
    width: 33.3333%;
    float: left;
    display: flex;
    height: 80px;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #e2e2e2;
    background: #fff;
    box-shadow: inset -12px 0 7px -5px rgba(0,0,0,.7);
}

.ui_active{
    border: 0 none;
    background: #fff;
    outline: none;
    box-shadow: -6px 5px 15px -5px rgba(0,0,0,.35);
}

.tabs_number{
    display: none;
    padding: 28px 0;
    align-items: center;
    justify-content: center;
    width: 80px;
    align-self: center;
    background: #ed1c24;
    color: #fff;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
}

.flex_active{
    display: flex;
}

.tabs_description{
    font-family: Ubuntu Light, sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-left: 60px;
    color: #525252;
    text-transform: uppercase;
}

.active_desc{
    color: #ed1c24;
    margin-left: 30px;
}

.tabs_content_wrapper{
    position: absolute;
    right: 30px;
    top: 0;
    width: calc(66.6666% - 30px);
    background: #fff;
    overflow: auto;

    height: 800px;
}

.tabs_content_wrapper h3{
    font-family: Ubuntu Light,sans-serif;
    font-weight: 300;
    width: auto;
    font-size: 42px;
    display: inline-block;
    margin: 0;
    color: #3d3d3d;
}

.half_column{
    width: 50%;
    float: left;
    margin-top: 80px;
}

.half_column p{
    color: #525252;
    margin: 20px 0;
    font-family: Ubuntu Light,sans-serif;
    font-weight: 400;
    padding-right: 30px;
    font-size: 15px;
}

.tabs_content_wrapper .image_wrapper{
    position: relative;
    width: calc(100% - 60px);
    height: 640px;
    margin: 0 auto 80px;
    overflow: hidden;
}

.tabs_content_wrapper .image_wrapper img{
    display: block;
    height: auto!important;
    width: 100%!important;
    position: relative!important;
    transform: translate(0%, 0%)!important;
}

.half_column ul{
    margin-top: 20px;
    padding: 0 30px 0 0;
}

.half_column ul li{
    color: #3d3d3d;
    font-family: Ubuntu Light,sans-serif;
    font-size: 15px;
    position: relative;
    font-weight: 300;
    margin: 20px 0;
    padding-left: 20px;
    padding-right: 30px;
}

.half_column ul li img{
    position: absolute;
    left: -20px;
    top: 2px;
    height: 14px;
    margin-left: 20px;
    display: block;
    width: 7px;
}

.table2 td{
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #ddd !important;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: #3d3d3d;
    text-align: center;
    font-family: Ubuntu Light, sans-serif;
}

.table2 tbody tr{
    margin: 10px 0;
}

.table2 tr:nth-child(even){
    background: #fafafa;
    border-top: none;
}

.table2 tr td:first-child{
    text-align: left;
}

.table2{
    width: 100%;
    border: none;
    padding: 5px 10px;
    margin: 20px 0;
    border-collapse: collapse;
}

.table2 thead{
    background: #e2e2e2;
}

.table2 thead tr{
    margin: 10px 0;
    background: #e2e2e2;
}




@media screen and (max-width: 1280px) {
    .main_container {
        height: 200px;
        padding: 0;
    }
    .main_container ul li {
        padding-left: 20px;
        position: relative;
        margin: 15px 0;
        font-family: Ubuntu, sans-serif;
        font-weight: 300;
        color: #a1a1a1;
        font-size: 12px;
        margin-left: -20px;
    }
    .one_column_list_with_tabs{
        padding: 0 20px;
    }
    .tabs_list_wrapper{
        height: 60px;
    }
    .tabs_number{
        padding: 20px 0;
        width: 60px;
        font-size: 24px;
    }
    .tabs_description{
        font-weight: 400;
        font-size: 13px;
    }
    .active_desc{
        margin-left: 20px;
    }
    .tabs_content_wrapper{
        width: calc(66.6666% - 20px);
        right: 20px;
    }
    .half_column{
        margin-top: 60px;
    }
    .tabs_content_wrapper .image_wrapper{
        height: 480px;
        margin: 0 auto 60px;
    }
    .tabs_content_wrapper h3{
        font-size: 32px;
    }
    .half_column ul li{
        margin: 4px 0;
        font-size: 13px;
        line-height: 145%;
    }
    .section, .gray_background, .navy_background, .section_margin_bottom_small{
        padding: 20px 10px 25px;
    }
    .text_block{
        padding: 20px;
    }
    .text_block p{
        font-size: 13px;
    }
    .text_block p img{
        height: auto;
    }
    .features li{
        margin-left: 0;
        font-size: 14px;
    }
    .features li p{
        font-size: 13px;
    }
    .circle_icon{
        width: 90px;
        height: 90px;
        margin-bottom: 20px;
    }
    .text_block img{
        height: auto;
        max-width: 100%;
    }
    .table td h3 small{
        font-size: 17px;
    }
    .gallery_reel_wrapper{
        padding: 0 20px;
    }
    .gallery_reel_item{
        width: 23%;
    }
    .two_column{
        margin-top: 60px;
        padding: 0 20px;
    }
    .third_column ul li span{
        font-size: 16px;
    }
    .dispenser_list_reverse{
        padding: 0 0 0 30px!important;
    }
    .table2 tr td{
        font-size: 13px;;
    }
    .table2 tbody td{
        font-size: 16px;;
    }
}

@media screen and (max-width: 990px){
    .one_column_list_with_tabs{
        height: auto;
        padding: 0 15px;
    }
    .tabs_list_wrapper{
        height: auto;
        width: 100%;
        box-shadow: none;
    }
    .ui_active{
        background: #fff !important;
        border: 0 none;
        z-index: 1;
        box-shadow: -6px 5px 15px -5px rgba(0,0,0,.35);
    }
    .flex_active{
        color: #fff!important;
        background: #e2001a!important;

    }
    .tabs_number{
        height: 50px !important;
        display: flex;
        background: #eee;
        color: #ccc;
    }
    .tabs_description{
        padding: 0 20px;
        margin-left: 0;
    }
    .tabs_content_wrapper{
        margin-bottom: 5px;
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
        padding: 0;
        height: 100%;
    }
    .tabs_content_wrapper ul{
        padding: 0;
    }
    .half_column{
        margin-top: 20px;
        width: 100%;
    }
    .tabs_content_wrapper .image_wrapper{
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    .tabs_content_wrapper .image_wrapper img{
        position: relative;
        height: 300px!important;
        width: auto!important;
        transform: translate(0);
    }
    .tabs_content_wrapper h3{
        font-size: 28px;
    }
    .text_block{
        padding: 20px 10px;
        width: 100%;
        overflow: auto;
    }
    .text_block p{
        font-size: 12px;
    }
    .features li p{
        font-size: 12px;
    }
    .circle_icon{
        margin-bottom: 15px;
    }
    .table td h3{
        font-size: 20px;
    }
    .table td h3 small{
        font-size: 14px;
    }
    .gallery_reel_wrapper{
        padding: 0 15px;
    }
    .gallery_reel_item{
        width: 23%;
    }
    .two_column{
        margin-top: 20px;
        padding: 0 15px;
        flex-flow: column;
    }
    .third_column{
        width: 100%;
    }
    .third_column ul{
        padding: 0;
    }
    .third_column ul li span{
        font-size: 14px;
    }
    .dispenser_list_reverse{
        text-align: left!important;
        padding: 0!important;
    }
    .dispenser_list_reverse li{
        text-align: left!important;
    }
    .dispenser_list_reverse li span strong{
        text-align: left!important;
    }
    .dispenser_list_reverse li p{
        text-align: left!important;
    }
    .third_column .image_wrapper{
        display: none;
    }
}

@media screen and (max-width: 770px){
    .one_column_list_with_tabs{
        padding: 0 5px;
    }
    .tabs_content_wrapper{
        padding: 0 5px;
    }
    .half_column img{
        display: none!important;
    }
    .section, .gray_background, .section_margin_bottom_small{
        padding: 10px 10px 15px;
    }
    .features{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .features li{
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        display: flex;
        align-items: center;
    }
    .circle_icon{
        margin-bottom: 0;
        width: 70px;
        height: 70px;
    }
    .gallery_reel_item{
        width: 48%;
        height: 100px;
    }
    .two_column{
        padding: 0 10px;
    }
}

@media screen and (max-width: 500px){
    .gallery_reel_item{
        width: 100%;
    }
}